<div class="container3">
    <div class="box1">
        <h3>PROJECTS</h3>
        <p>1- this project is using Angular , I used HTTP ,service,router and Formbuilder: <a href="https://github.com/fehrawy/Angular-crash.git">View</a></p>
        <p>2- this project I used react: <a href="https://github.com/fehrawy/Add-courses.git">View</a></p>
        <p>3- in this project I used API (react): <a href="https://github.com/fehrawy/Weather-App.git">View</a> </p>
        <p>4- gallery by Html,Css,Javascript:<a href="https://github.com/fehrawy/gallery2.git">View</a></p>
    </div>
    
    


</div>
